*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: none;
  list-style: none;
}
body {
  background-color: var(--background);
  color: var(--contrast);
}
:root {
  --background: #212121;
  --contrast: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
